#### Importing all necessary libraries.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import missingno as msno
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
raw = pd.read_csv("C:/Users/zsbor/final_project_IronHack/data/WDIData_raw.csv")
raw

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,16.936004,17.337896,17.687093,18.140971,18.491344,18.825520,19.272212,19.628009,NaN,NaN
1,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.499471,6.680066,6.859110,7.016238,7.180364,7.322294,7.517191,7.651598,NaN,NaN
2,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,37.855399,38.046781,38.326255,38.468426,38.670044,38.722783,38.927016,39.042839,NaN,NaN
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.794160,32.001027,33.871910,38.880173,40.261358,43.061877,44.270860,45.803485,NaN,NaN
4,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,18.663502,17.633986,16.464681,24.531436,25.345111,27.449908,29.641760,30.404935,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384365,Zimbabwe,ZWE,Women who believe a husband is justified in be...,SG.VAW.REFU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,14.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
384366,Zimbabwe,ZWE,Women who were first married by age 15 (% of w...,SP.M15.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.700000,NaN,NaN,NaN,5.418352,NaN,NaN,NaN
384367,Zimbabwe,ZWE,Women who were first married by age 18 (% of w...,SP.M18.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,33.500000,32.400000,NaN,NaN,NaN,33.658057,NaN,NaN,NaN
384368,Zimbabwe,ZWE,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,59.200000,59.400000,59.500000,59.700000,59.900000,60.000000,60.200000,60.400000,NaN,NaN
384369,Zimbabwe,ZWE,Young people (ages 15-24) newly infected with HIV,SH.HIV.INCD.YG,NaN,NaN,NaN,NaN,NaN,NaN,...,18000.000000,17000.000000,15000.000000,14000.000000,12000.000000,9700.000000,9600.000000,7500.000000,NaN,NaN

In [3]:
# I standardized the column names
raw.columns = [column.lower().replace(' ', '_') for column in raw.columns]
raw

,country_name,country_code,indicator_name,indicator_code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,unnamed:_66
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,16.936004,17.337896,17.687093,18.140971,18.491344,18.825520,19.272212,19.628009,NaN,NaN
1,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.499471,6.680066,6.859110,7.016238,7.180364,7.322294,7.517191,7.651598,NaN,NaN
2,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,37.855399,38.046781,38.326255,38.468426,38.670044,38.722783,38.927016,39.042839,NaN,NaN
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.794160,32.001027,33.871910,38.880173,40.261358,43.061877,44.270860,45.803485,NaN,NaN
4,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,18.663502,17.633986,16.464681,24.531436,25.345111,27.449908,29.641760,30.404935,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384365,Zimbabwe,ZWE,Women who believe a husband is justified in be...,SG.VAW.REFU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,14.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
384366,Zimbabwe,ZWE,Women who were first married by age 15 (% of w...,SP.M15.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.700000,NaN,NaN,NaN,5.418352,NaN,NaN,NaN
384367,Zimbabwe,ZWE,Women who were first married by age 18 (% of w...,SP.M18.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,33.500000,32.400000,NaN,NaN,NaN,33.658057,NaN,NaN,NaN
384368,Zimbabwe,ZWE,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,59.200000,59.400000,59.500000,59.700000,59.900000,60.000000,60.200000,60.400000,NaN,NaN
384369,Zimbabwe,ZWE,Young people (ages 15-24) newly infected with HIV,SH.HIV.INCD.YG,NaN,NaN,NaN,NaN,NaN,NaN,...,18000.000000,17000.000000,15000.000000,14000.000000,12000.000000,9700.000000,9600.000000,7500.000000,NaN,NaN

In [4]:
# Check type of file
type(raw)

pandas.core.frame.DataFrame

In [5]:
# Number of rows and columns
raw.shape

(384370, 67)

In [6]:
# More detailed informtion about the dataframe : number of rows and columns, the total memory usage, 
# the data type of each column, and the number of non-NaN elements
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384370 entries, 0 to 384369
Data columns (total 67 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   country_name    384370 non-null  object
 1   country_code    384370 non-null  object
 2   indicator_name  384370 non-null  object
 3   indicator_code  384370 non-null  object
 4   1960            36961 non-null   float64
 5   1961            41895 non-null   float64
 6   1962            44138 non-null   float64
 7   1963            43978 non-null   float64
 8   1964            44496 non-null   float64
 9   1965            46678 non-null   float64
 10  1966            46705 non-null   float64
 11  1967            48473 non-null   float64
 12  1968            48047 non-null   float64
 13  1969            48840 non-null   float64
 14  1970            67083 non-null   float64
 15  1971            74178 non-null   float64
 16  1972            77302 non-null   float64
 17  1973            76791 non-null   float64
 18  1974            78282 non-null   float64
 19  1975            81977 non-null   float64
 20  1976            84294 non-null   float64
 21  1977            88227 non-null   float64
 22  1978            87762 non-null   float64
 23  1979            88634 non-null   float64
 24  1980            93381 non-null   float64
 25  1981            95700 non-null   float64
 26  1982            97448 non-null   float64
 27  1983            96991 non-null   float64
 28  1984            97702 non-null   float64
 29  1985            99016 non-null   float64
 30  1986            99822 non-null   float64
 31  1987            101459 non-null  float64
 32  1988            99903 non-null   float64
 33  1989            101454 non-null  float64
 34  1990            126481 non-null  float64
 35  1991            133920 non-null  float64
 36  1992            138928 non-null  float64
 37  1993            139433 non-null  float64
 38  1994            141712 non-null  float64
 39  1995            149556 non-null  float64
 40  1996            149416 non-null  float64
 41  1997            151688 non-null  float64
 42  1998            152988 non-null  float64
 43  1999            158492 non-null  float64
 44  2000            185543 non-null  float64
 45  2001            179069 non-null  float64
 46  2002            184469 non-null  float64
 47  2003            184356 non-null  float64
 48  2004            189544 non-null  float64
 49  2005            201240 non-null  float64
 50  2006            201069 non-null  float64
 51  2007            205720 non-null  float64
 52  2008            204295 non-null  float64
 53  2009            205582 non-null  float64
 54  2010            219112 non-null  float64
 55  2011            212318 non-null  float64
 56  2012            216188 non-null  float64
 57  2013            211193 non-null  float64
 58  2014            218206 non-null  float64
 59  2015            214885 non-null  float64
 60  2016            213483 non-null  float64
 61  2017            211105 non-null  float64
 62  2018            206440 non-null  float64
 63  2019            186428 non-null  float64
 64  2020            136023 non-null  float64
 65  2021            10026 non-null   float64
 66  unnamed:_66     0 non-null       float64
dtypes: float64(63), object(4)
memory usage: 196.5+ MB

In [7]:
#The number of elements in the dataframe
raw.size

25752790

In [8]:
# Check data types in each column
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(raw.dtypes)

country_name       object
country_code       object
indicator_name     object
indicator_code     object
1960              float64
1961              float64
1962              float64
1963              float64
1964              float64
1965              float64
1966              float64
1967              float64
1968              float64
1969              float64
1970              float64
1971              float64
1972              float64
1973              float64
1974              float64
1975              float64
1976              float64
1977              float64
1978              float64
1979              float64
1980              float64
1981              float64
1982              float64
1983              float64
1984              float64
1985              float64
1986              float64
1987              float64
1988              float64
1989              float64
1990              float64
1991              float64
1992              float64
1993              float64
1994              float64
1995              float64
1996              float64
1997              float64
1998              float64
1999              float64
2000              float64
2001              float64
2002              float64
2003              float64
2004              float64
2005              float64
2006              float64
2007              float64
2008              float64
2009              float64
2010              float64
2011              float64
2012              float64
2013              float64
2014              float64
2015              float64
2016              float64
2017              float64
2018              float64
2019              float64
2020              float64
2021              float64
unnamed:_66       float64
dtype: object

In [9]:
#Check how many missing values are in each column
raw.isna().sum()

country_name           0
country_code           0
indicator_name         0
indicator_code         0
1960              347409
                   ...
2018              177930
2019              197942
2020              248347
2021              374344
unnamed:_66       384370
Length: 67, dtype: int64

In [10]:
raw.country_name.unique()

array(['Africa Eastern and Southern', 'Africa Western and Central',
       'Arab World', 'Caribbean small states',
       'Central Europe and the Baltics', 'Early-demographic dividend',
       'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)',
       'East Asia & Pacific (IDA & IBRD countries)', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia (IDA & IBRD countries)', 'European Union',
       'Fragile and conflict affected situations',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only',
       'IDA total', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Middle income', 'North America', 'Not classified', 'OECD members',
       'Other small states', 'Pacific island small states',
       'Post-demographic dividend', 'Pre-demographic dividend',
       'Small states', 'South Asia', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (excluding high income)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Upper middle income',
       'World', 'Afghanistan', 'Albania', 'Algeria', 'American Samoa',
       'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The',
       'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Channel Islands', 'Chile', 'China', 'Colombia', 'Comoros',
       'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador',
       'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Faroe Islands', 'Fiji',
       'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia, The',
       'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Grenada', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Honduras', 'Hong Kong SAR, China', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       "Korea, Dem. People's Rep.", 'Korea, Rep.', 'Kosovo', 'Kuwait',
       'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Macao SAR, China', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia, Fed. Sts.', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia',
       'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Martin (French part)', 'St. Vincent and the Grenadines',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, RB', 'Vietnam', 'Virgin Islands (U.S.)',
       'West Bank and Gaza', 'Yemen, Rep.', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [11]:
countries = ['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Republic of Cyprus', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Ireland', 'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Poland', 'Portugal', 'Romania', 'Slovakia', 'Slovenia', 'Spain', 'Sweden']

In [12]:
raw = raw[raw.country_name.isin(countries)]
raw

,country_name,country_code,indicator_name,indicator_code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,unnamed:_66
86700,Austria,AUT,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,NaN,NaN
86701,Austria,AUT,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,NaN,NaN
86702,Austria,AUT,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,NaN,NaN
86703,Austria,AUT,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,NaN,NaN
86704,Austria,AUT,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342460,Sweden,SWE,Women who believe a husband is justified in be...,SG.VAW.REFU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
342461,Sweden,SWE,Women who were first married by age 15 (% of w...,SP.M15.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
342462,Sweden,SWE,Women who were first married by age 18 (% of w...,SP.M18.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
342463,Sweden,SWE,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
342464,Sweden,SWE,Young people (ages 15-24) newly infected with HIV,SH.HIV.INCD.YG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
list(raw)

['country_name',
 'country_code',
 'indicator_name',
 'indicator_code',
 '1960',
 '1961',
 '1962',
 '1963',
 '1964',
 '1965',
 '1966',
 '1967',
 '1968',
 '1969',
 '1970',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 'unnamed:_66']

In [14]:
raw.drop(['country_code', 'indicator_code', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2021', 'unnamed:_66'], axis = 1, inplace=True)
raw

C:\Users\zsbor\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,country_name,indicator_name,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
86700,Austria,Access to clean fuels and technologies for coo...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
86701,Austria,Access to clean fuels and technologies for coo...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
86702,Austria,Access to clean fuels and technologies for coo...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
86703,Austria,Access to electricity (% of population),100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
86704,Austria,"Access to electricity, rural (% of rural popul...",100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342460,Sweden,Women who believe a husband is justified in be...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
342461,Sweden,Women who were first married by age 15 (% of w...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
342462,Sweden,Women who were first married by age 18 (% of w...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
342463,Sweden,Women's share of population ages 15+ living wi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
342464,Sweden,Young people (ages 15-24) newly infected with HIV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
indicators = ['GDP (current US$)', 'Life expectancy at birth, female (years)', 'Life expectancy at birth, male (years)', 'Unemployment, female (% of female labor force) (modeled ILO estimate)', 'Unemployment, female (% of female labor force) (national estimate)', 'Unemployment, male (% of male labor force) (modeled ILO estimate)', 'Unemployment, male (% of male labor force) (national estimate)', 'Fixed broadband subscriptions (per 100 people)', 'Fixed telephone subscriptions (per 100 people)', 'Mobile cellular subscriptions (per 100 people)', 'Individuals using the Internet (% of population)', 'Population, total', 'Population, female', 'Population, male']

In [16]:
raw = raw[raw.indicator_name.isin(indicators)]
raw

,country_name,indicator_name,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
87146,Austria,Fixed broadband subscriptions (per 100 people),3.959125e+00,5.544347e+00,7.350916e+00,1.058806e+01,1.422401e+01,1.728353e+01,1.950988e+01,2.072761e+01,...,2.481457e+01,2.505461e+01,2.609222e+01,2.738179e+01,2.829354e+01,2.884661e+01,2.847424e+01,2.835553e+01,2.812810e+01,2.893499e+01
87148,Austria,Fixed telephone subscriptions (per 100 people),4.935940e+01,4.773547e+01,4.742013e+01,4.650226e+01,4.530117e+01,4.351057e+01,4.098037e+01,3.938126e+01,...,4.007807e+01,3.975429e+01,3.896595e+01,4.084518e+01,4.159513e+01,4.078058e+01,4.207757e+01,4.201083e+01,4.156433e+01,4.204483e+01
87167,Austria,GDP (current US$),1.975088e+11,2.143949e+11,2.622736e+11,3.014576e+11,3.160923e+11,3.362801e+11,3.891856e+11,4.320519e+11,...,4.316852e+11,4.094018e+11,4.301910e+11,4.425848e+11,3.819711e+11,3.958374e+11,4.172612e+11,4.551682e+11,4.450119e+11,4.332585e+11
87317,Austria,Individuals using the Internet (% of population),3.918545e+01,3.656000e+01,4.270000e+01,5.428000e+01,5.800000e+01,6.360000e+01,6.937000e+01,7.287000e+01,...,7.873999e+01,8.002999e+01,8.061880e+01,8.099582e+01,8.394014e+01,8.432374e+01,8.793559e+01,8.747914e+01,8.775220e+01,8.752943e+01
87395,Austria,"Life expectancy at birth, female (years)",8.170000e+01,8.170000e+01,8.150000e+01,8.210000e+01,8.220000e+01,8.280000e+01,8.310000e+01,8.330000e+01,...,8.380000e+01,8.360000e+01,8.380000e+01,8.400000e+01,8.370000e+01,8.410000e+01,8.400000e+01,8.410000e+01,8.420000e+01,8.360000e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342082,Sweden,"Population, total",8.895960e+06,8.924958e+06,8.958229e+06,8.993531e+06,9.029572e+06,9.080505e+06,9.148092e+06,9.219637e+06,...,9.449213e+06,9.519374e+06,9.600379e+06,9.696110e+06,9.799186e+06,9.923085e+06,1.005770e+07,1.017521e+07,1.027889e+07,1.035344e+07
342419,Sweden,"Unemployment, female (% of female labor force)...",4.400000e+00,4.625000e+00,5.007000e+00,6.177000e+00,7.374000e+00,7.254000e+00,6.470000e+00,6.561000e+00,...,7.758000e+00,7.717000e+00,7.887000e+00,7.688000e+00,7.289000e+00,6.587000e+00,6.442000e+00,6.235000e+00,6.955000e+00,8.285000e+00
342420,Sweden,"Unemployment, female (% of female labor force)...",4.400000e+00,4.620000e+00,5.010000e+00,6.180000e+00,7.370000e+00,7.250000e+00,6.470000e+00,6.570000e+00,...,7.760000e+00,7.710000e+00,7.890000e+00,7.690000e+00,7.290000e+00,6.590000e+00,6.440000e+00,6.240000e+00,6.960000e+00,8.290000e+00
342421,Sweden,"Unemployment, male (% of male labor force) (mo...",5.030000e+00,5.285000e+00,6.046000e+00,7.156000e+00,7.595000e+00,6.904000e+00,5.880000e+00,5.932000e+00,...,7.838000e+00,8.217000e+00,8.197000e+00,8.188000e+00,7.559000e+00,7.357000e+00,6.973000e+00,6.474000e+00,6.716000e+00,8.295000e+00
342422,Sweden,"Unemployment, male (% of male labor force) (na...",5.030000e+00,5.280000e+00,6.050000e+00,7.160000e+00,7.590000e+00,6.900000e+00,5.880000e+00,5.940000e+00,...,7.840000e+00,8.210000e+00,8.200000e+00,8.190000e+00,7.560000e+00,7.360000e+00,6.970000e+00,6.480000e+00,6.720000e+00,8.300000e+00

In [17]:
#Check how many missing values are in each column
raw.isna().sum()

country_name      0
indicator_name    0
2001              4
2002              3
2003              1
2004              0
2005              0
2006              0
2007              0
2008              0
2009              0
2010              0
2011              0
2012              0
2013              0
2014              0
2015              0
2016              0
2017              0
2018              0
2019              0
2020              0
dtype: int64

In [18]:
raw.to_csv('C:/Users/zsbor/final_project_IronHack/data/WDIData_cleaned.csv')